* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
}

html,
body {
  touch-action: manipulation;
}

body {
  background-color: #ffe5ec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 190px;
}

.game-container {
  position: relative;
  margin-top: 1200px;
  width: 100%;
  height: 200px;
  background-color: #ffb3c6;
  border-bottom: solid 4px #222;
}

.player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  background-image: url("yle.webp");
  background-color: #fff;
  border-radius: 5px;
  transition: bottom 0.3s ease-out;
}

.player.jumping {
  bottom: 150px;
  transition: bottom 0.3s ease-out;
}

.obstacle {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 90px;
  border-radius: 5px;
  border: 2px solid #ff4f91;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff4f91;
  margin: 0 auto;
}

.game-over {
  position: absolute;
  top: 80%;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.9);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  border-radius: 10px;
  z-index: 10001;
}

.hidden {
  display: none;
}

.mobile-controls {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.mobile-controls button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.video {
  display: none;
}

.mobile-controls button:hover {
  background-color: #222;
}

/* Mobile adjustments */
@media (min-width: 768px) {
  .game-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .game-container {
    margin-top: 60px;
  }

  .score {
    top: 120%;
  }
  .player {
    width: 65px;
    height: 80px;
    left: 3%;
    background-color: white;
    z-index: 499;
    border: 3px solid #ff4f91;
    border-radius: 5px;
    z-index: 10000;
  }
  .obstacle {
    width: 60px;
    height: 80px;
  }

  .video {
    display: flex;
    width: 200px;
    border: 5px solid #ff4f91;
    z-index: 10050;
  }
}

.gameoverButton {
  width: 200px;
  margin: 0 auto;
  height: 40px;
  border: none;
  background-color: #ff4f91;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gameoverButton:hover {
  background-color: #e5447f;
}

.p1 {
  color: #111;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -70%;
  z-index: 500;
  color: yellow;
  justify-content: center;
  width: 100%;
  align-items: center;
}

li {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  width: fit-content;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  max-width: 500px;
  font-size: 14px;
  font-weight: 600;
  margin-top: -10px;
  border: 2px solid #ff4f91;
  color: #ff4f91;
}

.name-input-container {
  display: flex;
  width: fit-content;
  height: 10%;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}

#playerName {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
  outline: none;
}

#playerName:focus {
  border-color: #ff4f91;
}

#startGameBtn {
  width: 130px;
  height: 50px;
  background-color: #ff4f91;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startGameBtn:hover {
  background-color: #ff4f91;
}

.uls {
  color: yellow;
}

.p5 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

#jumpBtn {
  background-color: #ff4f91;
}
